player-connection-mode=Listen
player-connection-guid=2859319054
player-connection-debug=0
player-connection-project-name=Maze Dash
player-connection-ip=192.168.100.107
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=028af64a22844796a0ad4f2ba2fbe5a9
